@import './variables';
@import './button';

.container {
  // padding: 0 2rem;

  header {
    background-color: $primary-color;
    text-align: center;
    padding: 2rem 0;
    color: white;

    button {
      border: none;
      border-radius: 5px;
      padding: 10px 40px;
      color: $primary-color;
    }
  }

  section.one {
    display: grid;
    grid-template-columns: 700px;
    grid-auto-flow: row;
    row-gap: 30px;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
    color: $primary-color;

    button {
      margin: 0 10px;
    }
  }

  section.two {
    display: grid;
    grid-template-columns: 50vw 50vw;
    color: white;

    div:nth-child(2) {
      background-color: $primary-color;
      padding: 3rem 2rem;
      display: grid;
      grid-auto-flow: row;
      align-content: center;

      p {
        width: 30vw;
        margin-bottom: 20px;
      }

      a.buttonLink {
        border-color: white;
      }
    }
  }

  section.three {
    display: grid;
    grid-template-columns: 50vw 50vw;
    color: white;
    height: 50vh;
    margin-top: -2px;

    div:nth-child(1) {
      background-color: $primary-color;
      padding: 3rem 2rem;
      display: grid;
      grid-auto-flow: row;
      align-content: center;

      p {
        width: 30vw;
        margin-bottom: 20px;
      }

      a.buttonLink {
        border-color: white;
      }
    }
  }

  section.four {
    display: grid;
    grid-template-columns: 50vw 50vw;
    color: white;
    height: 50vh;
    margin: 110px 0;

    div:nth-child(2) {
      background-color: $primary-color;
      padding: 3rem 2rem;
      display: grid;
      grid-auto-flow: row;
      align-content: center;

      p {
        width: 30vw;
        margin-bottom: 20px;
      }

      a.buttonLink {
        border-color: white;
      }
    }
  }

  section.five {
    background-color: $primary-color;
    text-align: center;
    padding: 2rem 0;
    color: white;
    margin-top: 113px;

    display: grid;
    grid-template-columns: 70vw;
    justify-content: space-evenly;

    div > h5 {
      margin: 5px 0;
    }

    .avatars {
      display: grid;
      grid-auto-flow: column;
    }
  }

  section.six {
    text-align: center;
    padding: 2rem 0;

    div > h5 {
      margin: 5px 0;
    }
  }

  section.seven {
    padding: 2rem 0 ;
    color: white;
    background-color: $primary-color;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;


    button {
      border-color: white;
      color: white;
      margin: 0 10px;
      padding: 10px 30px;
    }
  }
}
